#game {
  width: 1200px;
  height: 800px;
  border: 1px dashed black;
  border-radius: 15px;
}

#options {
  padding-left: 100px;
  padding-top: 10px;
}

#board {
  padding-left: 50px;
  padding-top: 25px;
}

.row {
  float: left;
}

.cell {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border: 1px solid black;
}

.alive {
  background-color: #bdbdbd; /*grey*/
}
